html {
  overflow-y: hidden !important;
}

body {
  font-weight: 400;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Alata',-apple-system,'BlinkMacSystemFont','Georgia',sans-serif;
  font-kerning: normal;
  color: #444;
}

h1,h2,h3 {
  font-family: 'Raleway','Avenir Next','Helvetica Neue','Segoe UI','Helvetica','Arial', serif;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: inherit;
}

th {
  font-family: 'Raleway','Avenir Next','Helvetica Neue','Segoe UI','Helvetica','Arial', serif;
  font-weight: 700;
  letter-spacing: 1px;
}

section::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

section::-webkit-scrollbar-track {
  background: lightgrey;
}

section::-webkit-scrollbar-thumb {
  background: darkgrey;
  width: 5px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
